.card_container {
  /* min-width: 300px; */
  width: 100%;
  min-height: 200px;
  height: auto;
  border-radius: 10px;
  -webkit-transition: all 0.3s ease-in-out;
  /* background: transparent; */
  backdrop-filter: blur(10px);
  background: #fff;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1),
    0 0 40px #e0e9e9;
  /* box-shadow: -35px 8px 205px 34px #e0e9e9; */
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.3),
      0 0 40px #e0e9e9;
    transform: translateY(-10px);
  }
}
.card_content {
  width: 100%;
  height: 100%;
  margin-top: -65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.card_content .image {
  width: 300px;
  height: 200px;
  background: transparent;
  /* border-radius: 50%; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.05), 0 0 40px rgba(0, 0, 0, 0.05),
      0 0 40px #e0e9e9; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 10px 0; */
}
.card_content .image::after {
  content: "";
  width: 30%;
  height: 30%;
  clip-path: circle(40%);
  background: ;
  position: absolute;
  z-index: 1;
  left: -50px;
  display: block;
}
.card_content .image::before {
  content: "";
  width: 30%;
  height: 30%;
  clip-path: circle(40%);
  position: absolute;
  z-index: -1;
  right: -4px;

  display: block;
}
.card_content .image img {
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.6));
}
.card_content h3,
.card_content p {
}
